

@property --textrot{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: true;
}




.Timer{
    --textrot: attr(data-textrot deg, 10deg);
}

.Timer > span{/*timer text*/
    opacity: 1;
    rotate: var(--textrot);
}







#clock {
	position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    
    background-color: #7f7f7f;
}
/*
#playmenu {
	background-color: #ffffff;
}
*/
#Timer0, #Timer1, #playmenu {
	position: absolute;
	bottom: 0%;
	top: 0%;
}

#Timer0 {
	left: 0%;
    width: 40%;
}

#playmenu {
	left: 45%;
	right: 45%;
}

#Timer1 {
	right: 0%;
    width: 40%;
}





#playmenu {
	display: flex;
	flex-direction: column;
	align-items: center;
}


#rbutton[data-event = "click"]{
	animation-timing-function: linear;
	animation-duration: 0.2s;
	animation-name: rot360;
}








.Timer{
	font-size: 100px;
    color: #000000;
    font-family: Roboto Mono;/*monospaced*/
    font-weight: 1000;/*500-1000*/

	border-radius: 5vh;
	border-width: 3vh;
	border-style: solid;
}



.Timer{
	background-color: #570e3b;/*debug color*/
	border-color: #2b071f;/*debug color*/
}

.Timer[data-state = "normal"]{
	background-color: #000064;
	border-color: #000032;
}

.Timer[data-state = "lowtime"]{
	background-color: #ff7f00;
	border-color: #7f3f00;
}

.Timer[data-state = "flag"]{
	background-color: #ff0000;
	border-color: #7f0000;
}

.Timer[data-active = "false"]{
    background-color: #007f00;
}

.Timer[data-paused = "true"]{
	opacity: 50%;
}





/*cool color #7f0000, #7f003f*/

#movcnt{
    font-family: Roboto Mono;/*monospaced*/
	font-weight: 1000;
	color: #000000;
}
