
/*can not do: attr tainting: security risk
.playbutton[data-state = "pause"]{
	content: url(attr(data-play));
}*/

#settingsmenu{
	width:100%;
	height:100%;
}

@keyframes rot360{
	from{rotate: 0deg;}
	to{rotate: 360deg;}
}

#rbutton[data-animstate = "Animated"]{
	animation-timing-function: linear;
	animation-duration: 0.2s;
	animation-name: rot360;
}

.playbutton{
	content: url(https://drunkfox25.github.io/ProjectCompramise/assets/image8.png);
}

.mutebutton{
	content: url(https://drunkfox25.github.io/ProjectCompramise/assets/image8.png);
}



.centerContent{
	display: flex;
	justify-content: center;
	align-items: center;
}


.Timer{
	height: 300px;
	width: 300px;
	border-radius: 10px;
}

.Timer{
	font-size: 100px;
    color: #000000;
    font-family: Roboto Mono;/*monospaced*/
    font-weight: 1000;/*500-1000*/
}





.Timer{
	border-width: 3px;
	border-style: solid;
}




.Timer{
	background-color: #570e3b;/*debug color*/
	border-color: #2b071f;/*debug color*/
}

.Timer[data-state = "paused"]{
	background-color: #006400;
	border-color: #003200;
}

.Timer[data-state = "pref"]{
	background-color: #006400;
	border-color: #000032;
}

.Timer[data-state = "play"]{
	background-color: #000064;
	border-color: #000032;
}

.Timer[data-state = "lowtime"]{
	background-color: #ff7f00;
	border-color: #7f3f00;
}

.Timer[data-state = "flag"]{
	background-color: #ff0000;
	border-color: #7f0000;
}

/*cool color #7f0000, #7f003f*/

#movcnt{
    font-family: Roboto Mono;/*monospaced*/
	font-weight: 1000;
	color: #000000;
}

#playmenu{
	width: 750px;
	background-color: #ffffff;
}